<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="favicon.png" type="image/png">
    <title>Food Expenditure Dashboard</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" />

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
</head>

<body ng-app="FoodApp">
    <div ng-controller="FoodController" class="container">
        <div class="modal fade" id="configAccountsModal" tabindex="-1" aria-labelledby="configAccountsModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="configAccountsModalLabel">Accounts config</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="row g-3 mt-2" ng-repeat="a in accountsList track by $index">
                            <div class="col-sm-7">
                                <input type="text" class="form-control" placeholder="Paste header cookie"
                                    ng-model="a.cookie" ng-disabled="a.saved">
                            </div>
                            <div class="col-sm">
                                <input type="text" class="form-control" placeholder="Identifier name"
                                    ng-model="a.identifier" ng-disabled="a.saved">
                            </div>
                            <div class="col-sm">
                                <select class="form-select" aria-label="Select vendor" ng-model="a.vendor"
                                    ng-init="a.vendor = vendorsList[0]" ng-options="v for v in vendorsList"
                                    ng-disabled="a.saved"></select>
                            </div>
                            <div class="col-sm">
                                <button type="button" class="btn btn-primary" ng-hide="a.saved"
                                    ng-click="saveAccount(a, $index)">Save</button>
                                <button type="button" class="btn btn-primary" ng-show="a.saved"
                                    ng-click="deleteAccount(a)">Delete</button>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" ng-click="insertAccount()">Add new
                            account</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-end mt-5">
            <div class="col-2">
                <button type="button" class="border-0 bg-white" data-bs-toggle="modal"
                    data-bs-target="#configAccountsModal">⚙️</button>
            </div>
        </div>
        <div class="d-flex justify-content-center mt-5" ng-hide="totalCost || ordersError">
            <div class="spinner-border text-warning mt-5" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
        <div class="justify-content-center mt-5" ng-show="ordersError">
            <div class="alert alert-primary" role="alert"> Oops... error occurred !! </div><br>
            <div class="alert alert-danger" role="alert"> {{ordersError}} </div>
        </div>
        <div class="row justify-content-center" ng-show="totalCost">
            <div class="col-12 text-center mt-5">
                <h1>FOOD APPS DASHBOARD</h1>
                <h3>OVERALL EXPENDITURE: &#8377;{{totalCost}}</h3>
                <span>( Since {{startedYear}} to {{recentYear}} )</span>
            </div>
            <div class="col-12 text-center mt-5">
                <h5>YEARLY EXPENDITURE: &#8377;{{yearlyCost}}</h5>
                <div ng-repeat="a in activeYears" class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" value={{a.year}} id={{a.year}}
                        ng-click="updateTotalExpenditure(a.year)" checked>
                    <label class="form-check-label" for={{a.year}}> {{a.year}} </label>
                </div>
            </div>
            <div class="col-md-3">
                <canvas id="totalExpenditure"></canvas>
            </div>
            <div class="col-12 text-center mt-5">
                <h5>MONTHLY EXPENDITURE</h5>
            </div>
            <div class="col-12 text-center">
                <div ng-repeat="a in activeYears" class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id={{a.year}}
                        value={{a.year}} ng-click="updateMonthExpenditure(a.year)" ng-checked="$last">
                    <label class="form-check-label" for={{a.year}}>{{a.year}}</label>
                </div>
            </div>
            <div class="col-sm-12 col-md-10 mb-5">
                <canvas id="monthlyExpenditure"></canvas>
            </div>
        </div>
    </div>
    <script>
        const FoodApp = angular.module('FoodApp', []);
        FoodApp.controller('FoodController', function ($scope, $http, $window) {
            const CONSTANTS = {
                MONTHS: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']
            };

            let allOrders = [], ordersGroupedByYears, activeYears, totalExpenditureChart, monthlyExpenditureChart;
            const groupBy = (arr, key) => arr.reduce((a, v) => (a[v[key]] = [...a[v[key]] || [], v], a), {});
            $scope.getMonthlyDataByIdentifier = (orders, identifier) => CONSTANTS.MONTHS.map(m => orders.filter(d => (identifier === d.identifier) && (m === d.month)).reduce((a, v) => a + v.cost, 0));
            $scope.getTotalCostDataByIdentifier = (orders, identifier) => orders.filter(d => identifier === d.identifier).reduce((a, v) => a + v.cost, 0);

            $scope.getMonthlyChartConfig = (orders) => {
                const labels = CONSTANTS.MONTHS;
                const data = {
                    labels: labels,
                    datasets: $scope.uniqueIdentifiers.map(identifier => ({
                        label: identifier.name,
                        backgroundColor: identifier.color,
                        data: $scope.getMonthlyDataByIdentifier(orders, identifier.name),
                    }))
                };

                const customTooltip = (tooltipItems) => {
                    const vendors = tooltipItems[0].parsed._stacks.y;
                    const total = $scope.uniqueIdentifiers.reduce((a, b, i) => a + vendors[i], 0);
                    return 'Total: Rs.' + total;
                };

                return {
                    type: 'bar',
                    data: data,
                    options: {
                        interaction: { intersect: false, mode: 'index' },
                        plugins: {
                            tooltip: { callbacks: { footer: customTooltip } }
                        },
                        responsive: true,
                        scales: { x: { stacked: true }, y: { stacked: true } }
                    }
                };
            };


            $scope.getTotalChartConfig = (orders) => {
                const labels = CONSTANTS.MONTHS;
                const data = {
                    labels: $scope.uniqueIdentifiers.map(i => i.name),
                    datasets: [{
                        label: 'Total spendings',
                        backgroundColor: $scope.uniqueIdentifiers.map(i => i.color),
                        data: $scope.uniqueIdentifiers.map(i => $scope.getTotalCostDataByIdentifier(orders, i.name))
                    }]
                };

                const customTooltip = (tooltipItems) => {
                    const total = tooltipItems[0].dataset.data.reduce((a, v) => a + v);
                    return 'Total: Rs.' + total;
                };

                return {
                    type: 'pie',
                    data: data,
                    options: {
                        responsive: true,
                        interaction: { intersect: false, mode: 'index' },
                        plugins: {
                            legend: { position: 'top' },
                            tooltip: { callbacks: { footer: customTooltip } }
                        }
                    },
                };
            };


            const accountConfig = {
                cookie: '',
                identifier: '',
                vendor: '',
                saved: false
            };

            $scope.vendorsList = ['Swiggy', 'Zomato'];
            $scope.uniqueIdentifiers = [];
            $scope.accountsList = [accountConfig];

            const configAccountsModalElem = document.getElementById('configAccountsModal');
            configAccountsModalElem.addEventListener('hidden.bs.modal', function (event) {
                $window.location.reload();
            });

            var configAccountsModal = new bootstrap.Modal(configAccountsModalElem)
            const persitedAccounts = localStorage.getItem('accounts');
            if (!persitedAccounts)
                configAccountsModal.show();
            else
                $scope.accountsList = JSON.parse(persitedAccounts);

            $scope.insertAccount = () => {
                $scope.accountsList.push({
                    cookie: '',
                    identifier: '',
                    vendor: '',
                    saved: false
                });
            };

            $scope.saveAccount = (account, index) => {
                $http.post('/account', account).then((res) => {
                    $scope.accountsList[index] = res.data;
                    localStorage.setItem('accounts', JSON.stringify($scope.accountsList));
                });
            };

            $scope.deleteAccount = (account) => {
                const accounts = JSON.parse(localStorage.getItem('accounts'));
                const updatedAccounts = accounts.filter(a => a.identifier != account.identifier);
                $scope.accountsList = updatedAccounts;
                if ($scope.accountsList.length === 0)
                    localStorage.removeItem('accounts');
                else
                    localStorage.setItem('accounts', JSON.stringify($scope.accountsList));
                $scope.loadOrders();
            };

            $scope.loadOrders = () => {
                const accounts = JSON.parse(localStorage.getItem('accounts'));

                accounts && $http.post('/orders', accounts)
                    .then((response) => {
                        allOrders = response.data;
                        $scope.uniqueIdentifiers = [...new Set(allOrders.map(o => o.identifier))].map(i => ({
                            name: i,
                            color: `#${Math.floor(Math.random() * 16777215).toString(16)}`,
                        }));

                        ordersGroupedByYears = groupBy(allOrders, 'year');
                        activeYears = Object.keys(ordersGroupedByYears).sort();
                        $scope.startedYear = activeYears[0];
                        $scope.recentYear = activeYears[activeYears.length - 1];
                        recentYearOrders = ordersGroupedByYears[$scope.recentYear];

                        $scope.totalCost = allOrders.reduce((a, v) => a + v.cost, 0);
                        $scope.yearlyCost = $scope.totalCost;
                        $scope.activeYears = activeYears.map(y => ({ year: y, selected: true }));

                        totalExpenditureChart = new Chart(document.getElementById('totalExpenditure'), $scope.getTotalChartConfig(allOrders));
                        monthlyExpenditureChart = new Chart(document.getElementById('monthlyExpenditure'), $scope.getMonthlyChartConfig(recentYearOrders));
                    }, (error) => {
                        $scope.ordersError = error;
                    });
            };

            localStorage.getItem('accounts') && $scope.loadOrders();

            $scope.updateTotalExpenditure = (year) => {
                $scope.activeYears = $scope.activeYears.map(y => (y.year === year && (y.selected = !y.selected), y));
                const selectedYears = $scope.activeYears.filter(y => y.selected).map(y => y.year);
                const ordersForselectedYears = allOrders.filter(o => selectedYears.includes(o.year.toString()));
                totalExpenditureChart.data.datasets[0].data = $scope.uniqueIdentifiers.map(i => $scope.getTotalCostDataByIdentifier(ordersForselectedYears, i.name));

                totalExpenditureChart.update();

                $scope.yearlyCost = ordersForselectedYears.reduce((a, v) => a + v.cost, 0);
            };

            $scope.updateMonthExpenditure = (year) => {
                const selectedOrders = ordersGroupedByYears[year];
                $scope.uniqueIdentifiers.forEach((identifier, index) => {
                    monthlyExpenditureChart.data.datasets[index].data = $scope.getMonthlyDataByIdentifier(selectedOrders, identifier.name);
                });

                monthlyExpenditureChart.update();
            };
        });
    </script>
</body>

<body>
</body>

</html>